In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/digipodium/Datasets/main/house_pricing.csv")

In [4]:
data.head()

         City         Type  Beds  Baths  SquareFeet      Price
0  SACRAMENTO  Residential     2      1         836  138159.85
1  SACRAMENTO  Residential     3      1        1167  167541.46
2  SACRAMENTO  Residential     2      1         796  119095.12
3  SACRAMENTO  Residential     2      1         852  130904.95
4  SACRAMENTO  Residential     2      1         797  120266.19

In [8]:
le_Type=LabelEncoder()

In [9]:
data["Type_n"]=le_Type.fit_transform(data["Type"])
data.head()

         City  Type  Beds  Baths  SquareFeet      Price  Type_n
0  SACRAMENTO     2     2      1         836  138159.85       2
1  SACRAMENTO     2     3      1        1167  167541.46       2
2  SACRAMENTO     2     2      1         796  119095.12       2
3  SACRAMENTO     2     2      1         852  130904.95       2
4  SACRAMENTO     2     2      1         797  120266.19       2