In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model

In [7]:
Housing_data={"area":[2000,3000,3200,3600,4000],"bedrooms":[3,4,5,6,3],"age":[20,15,18,30,6],"price":[550000,565000,610000,595000,760000]}
df=pd.DataFrame(Housing_data)

In [8]:
df

   area  bedrooms  age   price
0  2000         3   20  550000
1  3000         4   15  565000
2  3200         5   18  610000
3  3600         6   30  595000
4  4000         3    6  760000

In [9]:
df.describe()

              area  bedrooms        age          price
count     5.000000   5.00000   5.000000       5.000000
mean   3160.000000   4.20000  17.800000  616000.000000
std     753.657747   1.30384   8.671793   83919.604384
min    2000.000000   3.00000   6.000000  550000.000000
25%    3000.000000   3.00000  15.000000  565000.000000
50%    3200.000000   4.00000  18.000000  595000.000000
75%    3600.000000   5.00000  20.000000  610000.000000
max    4000.000000   6.00000  30.000000  760000.000000

In [10]:
reg=linear_model.LinearRegression()
reg.fit(df[["area","bedrooms","age"]],df.price)

LinearRegression()

In [11]:
reg.coef_

array([   114.27023121, -45072.25433526,   1134.39306358])

In [12]:
reg.intercept_

424017.34104037477

In [14]:
reg.predict([[3000,4,15]])

c:\Users\Dell\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([603554.91329479])