In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import neighbors,metrics
from sklearn import linear_model

In [6]:
data=pd.read_csv("https://raw.githubusercontent.com/digipodium/Datasets/main/house_pricing.csv")

In [7]:
data.head()

         City         Type  Beds  Baths  SquareFeet      Price
0  SACRAMENTO  Residential     2      1         836  138159.85
1  SACRAMENTO  Residential     3      1        1167  167541.46
2  SACRAMENTO  Residential     2      1         796  119095.12
3  SACRAMENTO  Residential     2      1         852  130904.95
4  SACRAMENTO  Residential     2      1         797  120266.19

In [8]:
data.tail()

                City         Type  Beds  Baths  SquareFeet      Price
809       SACRAMENTO  Residential     4      3        2280  308248.47
810       SACRAMENTO  Residential     3      2        1477  212857.63
811   CITRUS HEIGHTS  Residential     3      2        1216  181746.98
812        ELK GROVE  Residential     4      2        1685  245385.59
813  EL DORADO HILLS  Residential     3      2        1362  263355.13

In [9]:
data.describe()

             Beds       Baths   SquareFeet          Price
count  814.000000  814.000000   814.000000     814.000000
mean     3.244472    1.960688  1591.146192  239650.063882
std      0.852137    0.669804   663.841930   97549.832306
min      1.000000    1.000000   484.000000   11985.000000
25%      3.000000    2.000000  1144.000000  173096.635000
50%      3.000000    2.000000  1418.500000  215468.525000
75%      4.000000    2.000000  1851.000000  276800.187500
max      8.000000    5.000000  5822.000000  777421.870000

In [10]:
data.isnull().sum()

City          0
Type          0
Beds          0
Baths         0
SquareFeet    0
Price         0
dtype: int64

In [11]:
data.info

<bound method DataFrame.info of                 City         Type  Beds  Baths  SquareFeet      Price
0         SACRAMENTO  Residential     2      1         836  138159.85
1         SACRAMENTO  Residential     3      1        1167  167541.46
2         SACRAMENTO  Residential     2      1         796  119095.12
3         SACRAMENTO  Residential     2      1         852  130904.95
4         SACRAMENTO  Residential     2      1         797  120266.19
..               ...          ...   ...    ...         ...        ...
809       SACRAMENTO  Residential     4      3        2280  308248.47
810       SACRAMENTO  Residential     3      2        1477  212857.63
811   CITRUS HEIGHTS  Residential     3      2        1216  181746.98
812        ELK GROVE  Residential     4      2        1685  245385.59
813  EL DORADO HILLS  Residential     3      2        1362  263355.13

[814 rows x 6 columns]>

In [12]:
data.City.value_counts()

SACRAMENTO         424
ELK GROVE          107
CITRUS HEIGHTS      35
ANTELOPE            33
ROSEVILLE           28
RANCHO CORDOVA      21
NORTH HIGHLANDS     21
GALT                20
CARMICHAEL          20
FOLSOM              15
RIO LINDA           12
ORANGEVALE          11
FAIR OAKS            9
ROCKLIN              8
LINCOLN              6
PLACERVILLE          5
WILTON               4
ELVERTA              4
GRANITE BAY          3
EL DORADO HILLS      3
AUBURN               3
GOLD RIVER           3
POLLOCK PINES        3
LOOMIS               2
EL DORADO            2
RANCHO MURIETA       2
CAMERON PARK         1
MEADOW VISTA         1
MATHER               1
GREENWOOD            1
PENRYN               1
DIAMOND SPRINGS      1
COOL                 1
WALNUT GROVE         1
SLOUGHHOUSE          1
WEST SACRAMENTO      1
Name: City, dtype: int64

In [13]:
data.Type.value_counts()

Residential     759
Condo            42
Multi-Family     13
Name: Type, dtype: int64

In [14]:
data.columns.nunique

In [15]:
Sacramento=(data["City"]=="SACRAMENTO")
df_Sacramento=data[Sacramento]
df_Sacramento.head()

         City         Type  Beds  Baths  SquareFeet      Price
0  SACRAMENTO  Residential     2      1         836  138159.85
1  SACRAMENTO  Residential     3      1        1167  167541.46
2  SACRAMENTO  Residential     2      1         796  119095.12
3  SACRAMENTO  Residential     2      1         852  130904.95
4  SACRAMENTO  Residential     2      1         797  120266.19

In [16]:
df_Sacramento.tail()

           City         Type  Beds  Baths  SquareFeet      Price
801  SACRAMENTO  Residential     3      1        1040  155426.79
806  SACRAMENTO  Residential     4      2        1329  195297.52
807  SACRAMENTO  Residential     4      2        1715  242424.89
809  SACRAMENTO  Residential     4      3        2280  308248.47
810  SACRAMENTO  Residential     3      2        1477  212857.63

In [17]:
df_Sacramento.Type.max()

'Residential'

In [18]:
df_Sacramento.Type.min()

'Condo'

In [19]:

df_Sacramento[df_Sacramento.Type=="Residential"].Price.max()

541771.74

In [20]:
data.City.unique()

array(['SACRAMENTO', 'RANCHO CORDOVA', 'RIO LINDA', 'CITRUS HEIGHTS',
       'NORTH HIGHLANDS', 'ANTELOPE', 'ELK GROVE', 'ELVERTA', 'GALT',
       'CARMICHAEL', 'ORANGEVALE', 'FOLSOM', 'MATHER', 'POLLOCK PINES',
       'GOLD RIVER', 'RANCHO MURIETA', 'WILTON', 'GREENWOOD', 'FAIR OAKS',
       'PLACERVILLE', 'MEADOW VISTA', 'ROSEVILLE', 'LINCOLN',
       'CAMERON PARK', 'ROCKLIN', 'LOOMIS', 'AUBURN', 'EL DORADO HILLS',
       'EL DORADO', 'PENRYN', 'GRANITE BAY', 'DIAMOND SPRINGS', 'COOL',
       'WALNUT GROVE', 'SLOUGHHOUSE', 'WEST SACRAMENTO'], dtype=object)