In [1]:
"Suyash Dubey"

'Suyash Dubey'

In [3]:
m1=int(input("enter marks of s1"))
m2=int(input("enter marks of s2"))
m3=int(input("enter marks of s3"))
m4=int(input("enter marks of s4"))
m5=int(input("enter marks of s5"))
m6=int(input("enter marks of s6"))
marks=[m1,m2,m3,m4,m5]
marks.sort()
print(marks)

[41, 50, 56, 82, 98]

In [5]:
t=(1,2,3,4,5)
t[0]=88
print(t)

TypeError: 'tuple' object does not support item assignment

In [6]:
a=3
b=4
c=5
d=2
list=[a+b+c+d]
print(list)

[14]

In [12]:
t=(7,0,8,0,0,9)
print(t.count(0))

3

In [1]:
f1=input("enter fruit 1")
f2=input("enter fruit 2")
f3=input("enter fruit 3")
f4=input("enter fruit 4")
f5=input("enter fruit 5")
fruits=[f1,f2,f3,f4,f5]
print(fruits)

['apple', 'banana', 'mango', 'grapes', 'watermelon']

In [5]:
story="once upon a time there was a youtuber named harry"
print(len(story))
print(story.endswith("harry"))
print(story.count("a"))

49
True
5

In [1]:
story="harry is good.\nhe is very good"
print(story)

harry is good.
he is very good

In [15]:
a= "good afternoon"
name= input("enter your name")
print("a",+ name)

TypeError: bad operand type for unary +: 'str'

In [16]:
l1=[1,8,7,2,21,50]
l1.sort()
print(l1  )

[1, 2, 7, 8, 21, 50]

In [19]:
# (t.count(1))
#l1.sort,l1,append,l1.reverse

In [28]:
f1=input("enter fruit number 1:")
f2=input("enter fruit number 2:")
f3=input("enter fruit number 3:")
f4=input("enter fruit number 4:")
f5=input("enter fruit number 5:")
myfruitlist= [f1 , f2 , f3 , f4, f5]
print("myfruitlist")

myfruitlist

In [34]:
s1=intinput("enter the marks of student 1")
s2=int input("enter the marks of student 2")
s3=int input("enter the marks of student 3")
s4=int input("enter the marks of student 4")
l1=[s1,s2,s3,s4]
l1.sort()
print(l1)

SyntaxError: invalid syntax (Temp/ipykernel_6736/505969810.py, line 1)

In [10]:
a='''suyash
is
a
good
boy'''
print(a)
print(type(a))

suyash
is
a
good
boy
<class 'str'>

In [6]:
#Arithimatic operators
a=2
b=5
print("the value of 2+5 is",2+5)
#assignment operators

the value of 2+5 is 7

In [7]:
a=57
a+=2
print(a)

59

In [8]:
b=(4>8)
print (b)

False

In [9]:
a=55
b=55
print(a==b)

True

In [17]:
bool1=True
bool2=False
print("the value of bool1 and bool2 is",(bool1 and bool2))
print("the value of bool1 and not bool2 is",(not bool2))

the value of bool1 and bool2 is False
the value of bool1 and not bool2 is True

In [20]:
a="3434"
a= int(a)
print (a+5)

3439

In [22]:
a=445678
a=float(a)
print(a)

445678.0

In [31]:
a=input("enter your name")
print(a)
print(type(a))

67
<class 'str'>

In [32]:
a=23
b=44
print("the value of a+b is",a+b)

the value of a+b is 67

In [34]:
a=8
print("the value of remainder when a/2 is",a%2)

the value of remainder when a/2 is 0

In [35]:
a=34
b=80
print(a>b)

False

In [37]:
a=44
b=100
n=2
print('the average of a+b/2 is',(a+b)/n)

the average of a+b/2 is 94.0

In [38]:
a=input("enter the value of first number")
b=input("enter the value of second number")
a=int(a)
b=int(b)
avg=a+b/2
print("the avg of a+b/2 is",(a+b)/2)

the avg of a+b/2 is 94.0

In [39]:
a=input("enter the value of number")
a=int(a)
sqr=a
print("sqr of a is",a*a)

sqr of a is 256

In [40]:
a=334
b= "harry"
print(a,b)

334 harry

In [41]:
name="suyash"
print(type(name))

<class 'str'>

In [48]:
name="suyash"
print(name[0:])

suyash

In [ ]:
name="pandit"
print

In [26]:
a= "suyash dubey"
print(type(a))

<class 'str'>

In [3]:
print ('''Twinkle, twinkle, little star, 
How I wonder what you are! 
Up above the world so high, 
Like a diamond in the sky. 

When the blazing sun is gone, 
When he nothing shines upon, 
Then you show your little light, 
Twinkle, twinkle, all the night. 

Then the traveler in the dark 
Thanks you for your tiny spark, 
How could he see where to go, 
If you did not twinkle so? 

In the dark blue sky you keep, 
Often through my curtains peep 
For you never shut your eye, 
Till the sun is in the sky. 

As your bright and tiny spark 
Lights the traveler in the dark, 
Though I know not what you are, 
Twinkle, twinkle, little star''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In the dark blue sky you keep,
Often through my curtains peep
For you never shut your eye,
Till the sun is in the sky.

As your bright and tiny spark
Lights the traveler in the dark,
Though I know not what you are,
Twinkle, twinkle, little star

In [11]:
fridge=['water','cold drinks','ice cream']

In [13]:
'cold drink' in fridge

False

In [15]:
a=2
str(a)

'2'

In [17]:
a=bool(a)
print(a)

True

In [17]:
100>=278

False

In [19]:
name=input('who are you?')
age=input("what is  your age?")
ans=input("how many days in leap year?")

print(name,type(name))
print(age,type(age))
print(ans,type(ans))

suyash <class 'str'>
23 <class 'str'>
364 <class 'str'>

In [20]:
a=24
b=45
a+b

69

In [18]:
x!=y

True

In [7]:
age=23
country="india"

In [9]:
a=[1,2,3,4,5]

In [10]:
3 in a

True

fridge=['water','chocolate','soft drinks']

In [8]:
age>20 and country == "india"

True

In [4]:
234+445

679

In [6]:
input("enter your school/college")

'gautam buddha university'

In [7]:
x=40
y=25

In [8]:
college=input("enter the college")

# operation in python
- mathematical
- comparison
- assignment
- logical
- instance

In [5]:
print(35*33)
print("myself suyash")

1155
myself suyash

In [9]:
a=10
b=7

In [10]:
a+b

17

In [11]:
print(a*b)
print(a-b)
print(a/b)

70
3
1.4285714285714286

In [12]:
print(a//b)

1

In [13]:
2+3-10*3+6//2

-22

In [14]:
k=10

In [15]:
k +=5

In [37]:
s1=int(input("enter the marks of student1"))
s2=int(input("enter the marks of student 2"))
s3=int(input("enter the marks of student 3"))
list=[s1,s2,s3,s4]
list.sort()

print(list)

NameError: name 's4' is not defined