In [1]:
"Suyash Dubey"

'Suyash Dubey'

In [6]:
def add(n1,n2):
    result=n1+n2
    print(result)
number1=4
number2=6
add(number1,number2)

10

In [7]:
marks=[55,67,88,43,56]
length=len(marks)
print(length)

5

In [9]:
marks=[55,67,88,43,56]
sum=0
for i in marks:
    sum+=i
print(sum)

309

In [22]:
marks=[55,67,88,43,56]

def calculate_avg(marks):
    sum=0
    length=len(marks)
    for i in marks:
        sum+=i
    calculate_avg=sum/length
    

calculate_avg(marks)

print(sum)

155

In [18]:
marks=[23,12,55,63,2]
def comput(marks):

155

In [3]:
def greet(name):
    print("hello",name)
    print("hw do you do",name)
greet("jack")

hello jack
hw do you do jack

In [1]:
def greet():
    print("hello")
    print("hw do you do")
greet()

hello
hw do you do

In [14]:
list=["apple",1,3,4,"orange"]
first=list.pop(0)
last=list.pop(-1)
list.insert(0,last)
list.append(first)

print(list)

['orange', 1, 3, 4, 'apple']

In [29]:
list=[2,2,2,4,4,4,6,7,5,43,2,1]
length=len(list)
for i in range(length-2):
    if list[i]==list[i+1] and list[i+1]==list[i+2]:
        print(list[i])

2
4

In [41]:
heros=["spiderman","thor","hulk","iron man","captain america"]
length=len(heros)
heros.append("black panther")
heros.pop(5)
heros.insert(3,"black panther")
heros.pop(1)
heros.pop(2)
heros.insert(1,"Dr strange")

print(heros)
print(length)

['spiderman', 'Dr strange', 'hulk', 'iron man', 'captain america']
5

In [48]:
list=["jan","feb","march","april","may"]
list2=[2200,2350,2600,2130,2190]
extra=list2[1]-list2[0]
sum=0
print(extra)
length=len(list2)
for i in list2:
    sum+=i
    print(sum)
for i in list2:
    if i==2000:
        print("yes")
    else:
        print("no")

list2.append(1980)
list.append("june")
print(list)
print(list2)

150
2200
4550
7150
9280
11470
no
no
no
no
no
['jan', 'feb', 'march', 'april', 'may', 'june']
[2200, 2350, 2600, 2130, 2190, 1980]

In [17]:
list=[1,2,3,"sunny","mango",4,"apple"]
x=list.pop(3)
y=list.pop(5)
list.insert(3,y)
list.insert(5,x)

print(list)

[1, 2, 3, 'apple', 'mango', 'sunny', 4]

In [18]:
num1=input("enter a number")
num2=input("enter a number")
if num1>num2:
    print("num1 is greater")
else:
    print("num2 is greater")

num2 is greater

In [24]:
list=[1,2,3,4,5,6,7,8]
for i in list:
    if i==5:
        print("element exists")

element exists

In [26]:
list=[1,2,3,4,5,6,7,8,9]
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
list=[9,7,2,1,9,1,4,8,7,2]
y=7
list.count(y)

2

In [21]:
list=[12,16,34,88,90,100,15]
sum=0
for i in list:
    sum=sum+i
    avg=sum/len(list)

print(sum)
print(avg)

355
50.714285714285715

In [24]:
list=[12,12,14,50,97,66,100]
product=1
for i in list:
    product=product*i

print(product)

64532160000

In [26]:
list=[13,17,16,19,20]
print(max(list)) 
print(min(list))

20
13

In [38]:
list=[12,11,88,100,110,45,62]
for i in list:
    if i%2!=0:
        print(i)

11
45

In [20]:
list=[12,12,12,14,14,14,20,22,22,22]
l1=[]
count=0
for i in list:
    if i not in l1:
        count+=1
        l1.append(i)

print(l1)
print(count)

[12, 14, 20, 22]
4

In [22]:
list=[1,2,3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if(i!=j and j!=k and k!=i):
                print(list[i],list[j],list[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [3]:
list=[12,24,24,24,12,33,33,56,77]
set=set(list)
print(set)

TypeError: 'set' object is not callable

In [15]:
list=[12,13,10,1,2,3,4,5]
list2=[]
sum=0

for i in list:
    sum=i+1
    list2.append(i+1)
print(list2)

[13, 14, 11, 2, 3, 4, 5, 6]

In [17]:
list=[12,13,10,1,2,3,4,5]
list2=[i+1 for i in list]
print(list2)

[13, 14, 11, 2, 3, 4, 5, 6]

In [3]:
list=[]
for i in range(8):
    fruits=input("enter the fruits")
    list.append(fruits)
print(list)

['mango', 'apricot', 'banana', 'strawberry', 'guvava', 'grapes', 'lemon', 'tomato']

In [ ]:
class programmer:
    def __init__(self,name,joining date,age):
        self.name=name
        self.joining
        pass

In [12]:
row=1
column=1
for row in range(6):

    print("*")
for column in range(6):
    print("*")

*
*
*
*
*
*
*
*
*
*
*
*

In [28]:
expenses=[1200,1500,1300,1700]
z=1 
total=0
for i in range(len(expenses)):
    i=expenses[i]
    print(f"month{z+1},expenses:{i}")
    total=total+i
    

print(total)

month2,expenses:1200
month3,expenses:1500
month3,expenses:1300
month3,expenses:1700
5700

In [10]:
list=[2340,2500,2100,3100,2980]
amount=int(input("enter an amount"))
for i in list:
    if i==2340:
        print("jan")
    if i==2500:
        print("feb")
    if i==2100:
        print("march")
    if i==3100:
        print("april")
    if i==2980:
        print("may")
else:
    print("month not found")

jan
feb
march
april
may
month not found

In [ ]:
i=5
for i in range(6):
    if i==1:
        print("are u tired")
    if ans==YES:

In [14]:
expenses=[1200,1500,1300,1700]
product=1
for i in expenses:
    product=product*i

print(product)

3978000000000

In [17]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [2]:
break=5
print(break)

SyntaxError: invalid syntax (Temp/ipykernel_11656/1564100847.py, line 1)

In [13]:
 X=1998
 y=2022
 result=y-X
 print(result)

24

In [14]:
year1=1998
year2=2022
z=year2-year1
print(z)

24

In [22]:
m1=input("enter first name")
m2=input("enter middle name")
m3=input("enter last name")
print(m1 + m2 +  m3)

suyash krdubey

In [3]:
m1=int(input("enter marks of s1"))
m2=int(input("enter marks of s2"))
m3=int(input("enter marks of s3"))
m4=int(input("enter marks of s4"))
m5=int(input("enter marks of s5"))
m6=int(input("enter marks of s6"))
marks=[m1,m2,m3,m4,m5]
marks.sort()
print(marks)

[41, 50, 56, 82, 98]

In [5]:
t=(1,2,3,4,5)
t[0]=88
print(t)

TypeError: 'tuple' object does not support item assignment

In [6]:
a=3
b=4
c=5
d=2
list=[a+b+c+d]
print(list)

[14]

In [12]:
t=(7,0,8,0,0,9)
print(t.count(0))

3

In [5]:
num=int(input("emter a number"))
total = 0
for i in range(1,num):
    total+=i
print(total)

45

In [1]:
f1=input("enter fruit 1")
f2=input("enter fruit 2")
f3=input("enter fruit 3")
f4=input("enter fruit 4")
f5=input("enter fruit 5")
fruits=[f1,f2,f3,f4,f5]
print(fruits)

['apple', 'banana', 'mango', 'grapes', 'watermelon']

In [5]:
story="once upon a time there was a youtuber named harry"
print(len(story))
print(story.endswith("harry"))
print(story.count("a"))

49
True
5

In [1]:
story="harry is good.\nhe is very good"
print(story)

harry is good.
he is very good

In [15]:
a= "good afternoon"
name= input("enter your name")
print("a",+ name)

TypeError: bad operand type for unary +: 'str'

In [16]:
l1=[1,8,7,2,21,50]
l1.sort()
print(l1  )

[1, 2, 7, 8, 21, 50]

In [19]:
# (t.count(1))
#l1.sort,l1,append,l1.reverse

In [28]:
f1=input("enter fruit number 1:")
f2=input("enter fruit number 2:")
f3=input("enter fruit number 3:")
f4=input("enter fruit number 4:")
f5=input("enter fruit number 5:")
myfruitlist= [f1 , f2 , f3 , f4, f5]
print("myfruitlist")

myfruitlist

In [3]:
s1=int(input("enter the marks of student 1"))
s2=int(input("enter the marks of student 2"))
s3=int(input("enter the marks of student 3"))
s4=int(input("enter the marks of student 4"))
l1=[s1,s2,s3,s4]
l1.sort()
print(l1)

[0, 23, 56, 88]

In [10]:
a='''suyash
is
a
good
boy'''
print(a)
print(type(a))

suyash
is
a
good
boy
<class 'str'>

In [6]:
#Arithimatic operators
a=2
b=5
print("the value of 2+5 is",2+5)
#assignment operators

the value of 2+5 is 7

In [7]:
a=57
a+=2
print(a)

59

In [8]:
b=(4>8)
print (b)

False

In [9]:
a=55
b=55
print(a==b)

True

In [17]:
bool1=True
bool2=False
print("the value of bool1 and bool2 is",(bool1 and bool2))
print("the value of bool1 and not bool2 is",(not bool2))

the value of bool1 and bool2 is False
the value of bool1 and not bool2 is True

In [20]:
a="3434"
a= int(a)
print (a+5)

3439

In [22]:
a=445678
a=float(a)
print(a)

445678.0

In [31]:
a=input("enter your name")
print(a)
print(type(a))

67
<class 'str'>

In [32]:
a=23
b=44
print("the value of a+b is",a+b)

the value of a+b is 67

In [34]:
a=8
print("the value of remainder when a/2 is",a%2)

the value of remainder when a/2 is 0

In [35]:
a=34
b=80
print(a>b)

False

In [37]:
a=44
b=100
n=2
print('the average of a+b/2 is',(a+b)/n)

the average of a+b/2 is 94.0

In [38]:
a=input("enter the value of first number")
b=input("enter the value of second number")
a=int(a)
b=int(b)
avg=a+b/2
print("the avg of a+b/2 is",(a+b)/2)

the avg of a+b/2 is 94.0

In [39]:
a=input("enter the value of number")
a=int(a)
sqr=a
print("sqr of a is",a*a)

sqr of a is 256

In [40]:
a=334
b= "harry"
print(a,b)

334 harry

In [41]:
name="suyash"
print(type(name))

<class 'str'>

In [48]:
name="suyash"
print(name[0:])

suyash

In [ ]:
name="pandit"
print

In [26]:
a= "suyash dubey"
print(type(a))

<class 'str'>

In [3]:
print ('''Twinkle, twinkle, little star, 
How I wonder what you are! 
Up above the world so high, 
Like a diamond in the sky. 

When the blazing sun is gone, 
When he nothing shines upon, 
Then you show your little light, 
Twinkle, twinkle, all the night. 

Then the traveler in the dark 
Thanks you for your tiny spark, 
How could he see where to go, 
If you did not twinkle so? 

In the dark blue sky you keep, 
Often through my curtains peep 
For you never shut your eye, 
Till the sun is in the sky. 

As your bright and tiny spark 
Lights the traveler in the dark, 
Though I know not what you are, 
Twinkle, twinkle, little star''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In the dark blue sky you keep,
Often through my curtains peep
For you never shut your eye,
Till the sun is in the sky.

As your bright and tiny spark
Lights the traveler in the dark,
Though I know not what you are,
Twinkle, twinkle, little star

In [11]:
fridge=['water','cold drinks','ice cream']

In [13]:
'cold drink' in fridge

False

In [15]:
a=2
str(a)

'2'

In [17]:
a=bool(a)
print(a)

True

In [17]:
100>=278

False

In [19]:
name=input('who are you?')
age=input("what is  your age?")
ans=input("how many days in leap year?")

print(name,type(name))
print(age,type(age))
print(ans,type(ans))

suyash <class 'str'>
23 <class 'str'>
364 <class 'str'>

In [20]:
a=24
b=45
a+b

69

In [18]:
x!=y

True

In [7]:
age=23
country="india"

In [9]:
a=[1,2,3,4,5]

In [10]:
3 in a

True

fridge=['water','chocolate','soft drinks']

In [8]:
age>20 and country == "india"

True

In [4]:
234+445

679

In [6]:
input("enter your school/college")

'gautam buddha university'

In [7]:
x=40
y=25

In [8]:
college=input("enter the college")

# operation in python
- mathematical
- comparison
- assignment
- logical
- instance

In [5]:
print(35*33)
print("myself suyash")

1155
myself suyash

In [9]:
a=10
b=7

In [10]:
a+b

17

In [11]:
print(a*b)
print(a-b)
print(a/b)

70
3
1.4285714285714286

In [12]:
print(a//b)

1

In [13]:
2+3-10*3+6//2

-22

In [14]:
k=10

In [15]:
k +=5

In [37]:
s1=int(input("enter the marks of student1"))
s2=int(input("enter the marks of student 2"))
s3=int(input("enter the marks of student 3"))
list=[s1,s2,s3,s4]
list.sort()

print(list)

NameError: name 's4' is not defined